# You are on Magenta - Third day of web scraping.

In [14]:
import pandas as pd

data_frame = pd.read_csv("../Output/updated_scrapeData.csv")
data_frame = data_frame.dropna()

data_frame.head()

   id                      Star_name  Distance  Mass  Radius
0   0  SDSS J000013.54+255418.6 [de]      46.1  48.0    0.99
1   1        2MASS J00040288-6410358     192.0  19.0    1.63
3   3        2MASS J00242463-0158201      37.7  79.0    1.09
5   5        2MASS J00274197+0503417     236.0  31.0    1.44
7   7         2MASSW J0030300-145033      87.2  54.0    0.98

In [15]:
data_frame["Radius"] = data_frame["Radius"] * 0.102763 # Solar Radius
data_frame["Mass"] = data_frame["Mass"] * 0.000954588 # Solar Mass

data_frame.tail()

      id               Star_name  Distance      Mass    Radius
185  185  2MASSI J2356547-155310      74.0  0.076367  0.112012
223  223          WISE 0410+1502      20.0  0.005728  0.120233
227  227         WISE 0458+6434A      35.9  0.014319  0.431605
228  228         WISE 0458+6434B      35.9  0.009546  0.390499
282  282          WISE 1405+5534      25.3  0.028638  0.088376

In [16]:
data_frame.to_csv("../Output/new_updated_scraped_data.csv", index=True)

In [21]:
file_data_1 = pd.read_csv("../Output/scraped_data.csv")
file_data_2 = pd.read_csv("../Output/new_updated_scraped_data.csv")

merge_data = pd.merge(file_data_1, file_data_2, on='id')

merge_data.to_csv("../Output/merged_data_final.csv", index=True)